@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: Arial, sans-serif;
    color:black;
    background-color:powderblue;
}

section {
    margin: 5px 10px;
}
button {
    padding: 10px;
}
#burgers {
    background-color: black;
    color: white;
    border: 2px dotted white;
    margin: 5px
}

#contact {

    border: 2px dotted black;
}
button:hover {
    background-color: blue;
    cursor: pointer;
 }

p {

    color: red;
}
li  {
    font-weight: bold;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36pt;
    padding-top: 50px;
}
main, header, footer, nav ul {
    max-width: 50rem;
    margin: 0 auto 0 auto;
    background-color: white;

}

main {

}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    color:black;
    background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;

}

header h1 {
    width:40rem;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.burger {
    color:#ff5500;
}



#idname {
    text-transform: uppercase;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
}

.box {
    border-radius: 5px;
    padding: 20px;
}

.a {
    grid-column: 1;
}

.b {
    grid-column: 2;
}

.c {
    grid-column: 3;
}